name: Build and Push Docker Image

on:
  push:
    branches: [ '**' ]
    paths:
      - 'src/**'

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Build
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract branch name and commit hash
        id: vars
        run: |
          echo "COMMIT_HASH=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          BRANCH_NAME=${GITHUB_REF#refs/heads/}
          echo "BRANCH_NAME=$BRANCH_NAME" >> $GITHUB_OUTPUT
          # Очищаем имя ветки от спецсимволов для Docker тега
          CLEAN_BRANCH_NAME=$(echo "$BRANCH_NAME" | sed 's/[^a-zA-Z0-9._-]/-/g')
          echo "CLEAN_BRANCH_NAME=$CLEAN_BRANCH_NAME" >> $GITHUB_OUTPUT

      - name: Set Docker tags
        id: tags
        run: |
          if [ "${{ github.ref_name }}" == "main" ]; then
            echo "TAGS=saymuria/nbank-kttest:latest" >> $GITHUB_OUTPUT
          else
            echo "TAGS=saymuria/nbank-kttest:${{ steps.vars.outputs.CLEAN_BRANCH_NAME }}-${{ steps.vars.outputs.COMMIT_HASH }}" >> $GITHUB_OUTPUT
          fi

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.tags.outputs.TAGS }}
          cache-from: type=gha
          cache-to: type=gha,mode=max